* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #020104;
}

img {
    width: 100%;
    display: block;
}

.main_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 650px;
    color: #b6b4b9;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 60px 60px rgba(115, 118, 120, 0.21);
    border-radius: 10px;
}

figure {
    width: 18vw;
    height: 18vw;
    background-color: #020104;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.hidden {
    visibility: hidden;
}

button {
    background-color: rgba(141, 149, 155, 0.21);
    color: #fff;
    width: 150px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 50px;
    display: block;
}

button:hover {
    background-color: #79797a;
    color: #020104;
    font-weight: 600;
}